html {
box-sizing: border-box;
}

body {
 font-family: "Open Sans", sans-serif;
 font-size: 14px;
 line-height: 26px;
 color: #515151;
}

.conteiner {   
  width: 1140px; 
  margin: 0 auto;
  padding: 0 13px;
  
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.page-header {
    padding-top: 35px;
    padding-bottom: 30px;
    line-height: 32px;
}
/*------Logo------*/

.site-logo {
    float:left;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
}   

.site-logo::first-letter {
    color:#42c5aa
}

/*--------Navigation-------*/

.site-navigation  { 
    float: right;            
    margin-top: 10px;
    list-style: none;    
    text-transform: uppercase;   
}

.site-navigation li {
    float: left;     
}

.site-navigation a {
    font-family: "Open Sans Bold", sans-serif;
    text-decoration: none;
    color: #0f0101;
    font-size: 14px;
    font-weight: 900;
}

.site-navigation li:not(:last-child) {
    margin-right: 35px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #42c5aa;
}

  /*------Slide------*/
  .slide {
    position:relative;    
}

.slide-img img {
    width: 100%;
    height: auto;
    display: block;
}
.slide-title {
    position: absolute;    
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
  }
  
.slide-name {
    font-family: "Roboto Black", sans-serif;
    font-size: 60px;
    line-height: 82px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 775px;
  }
.slide-pos {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    line-height: 54px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  /*-------Slide Button------*/

.button-arrow {
    position: absolute;
    width: 1110px;
    height: auto;    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
.btn-left,
.btn-right {     
  width: 104px;
  height: 104px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  cursor: pointer;
  border: none;  
}

.btn-left {
    float: left;
}
.icon-arrow-left {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 38px;
    background-image: url('/img/module_5/icon/arrow_left.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-right {
    float: right;
}
.icon-arrow-right {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 38px;
  background-image: url('/img/module_5/icon/arrow_right.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


 .btn-left:hover,
 .btn-right:hover {
    background-color: rgb(26, 188, 156);   
 }

  /*-------Section New Collection------*/
   .new-collection {
    padding-top: 95px;
    padding-bottom: 105px;
    background-color: #e9f0fd;
    
   }
  .name-new-collection {
    font-family: "Roboto Black";
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;       
    padding: 0;        
  }
.name-new-collection h2 {
    text-align: center;
    margin: 0;
    
}

h2::after {
    display: block;
    width: 162px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    padding: 0;
    margin: 30px auto;
}

.new-collection-list { 
    margin: 82px auto;     
    padding: 0;
    width: 1110px;
    
}
.new-collection-list li {
    float: left;
    list-style: none;    
    width: 255px; 
    height: 322px;  
    
}
.new-collection-list li:not(:last-child) {
    margin-right: 30px;
}
 .new-collection-card {
    position: relative;
 }    
    
.new-collection-img {         
    display: block;
}

.category-price-item {
      
    font-family: "Roboto Black";
    font-size: 18px;    
    color: #ffffff;
}

.category-item {
    margin: 0 auto;

}
.category-item a {    
    float: left;    
    text-transform: uppercase; 
    color: #ffffff;
    background-color: #515151;
    width: 201px;
    text-align: left;
    height: 40px; 
    text-decoration: none;
    
         
}
 
.price-item {
    float:right;
    height: 40px;
    width: 54px;
    background-color: #8c8c8c;
    margin: 0 auto;
    text-align: center;    
}

.new-collection-card:hover .price-item {
    background-color: #7fd9c7;
}
.new-collection-card:hover .category-item a {
    background-color: #1abc9c;
}

.overlay-btn {
    position: absolute;
    height: 262px;
    width: 235px;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0;
    margin: 10px;
}

.new-collection-card:hover .overlay-btn { 
    opacity: 1;
}

.overlay-btn-top {
    position: absolute; 
    width: 166px;   
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.btn {
    float: left;
    position: relative;
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
.btn:not(:last-child) {
    margin-right: 8px;
}
 
.btn:hover {
    background-color: #1abc9c;
    border: none;
    opacity: 1;
}

.btn::after { 
    display: block;
    position: absolute;
    content: ""; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
} 
.btn:first-child::after {
    background-image: url(/img/module_5/icon/heart.png);
    width: 26px;
    height: 22px;
}
.btn:nth-child(2)::after {
    background-image: url(/img/module_5/icon/arrow.png);
    width: 26px;
    height: 22px;
}
.btn:nth-child(3)::after {
    background-image: url(/img/module_5/icon/clock.png);
    width: 25px;
    height: 24px;
}

.overlay-btn-bottom {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-bottom {
    position: relative;
    width: 166px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    padding: 0 17px;
    
}

.btn-bottom:hover {
    background-color: #323232;
}

.btn-bottom::before {
    display: block;
    position: absolute;
    background-image: url(/img/module_5/icon/basket.png);
    content: "";
    width: 28px;
    height: 27px;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);


}
  


  
/*-------Footer------*/
.footer {
   background-color: #323232;;
}

.footer p {
    padding: 31px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fefefe;
  }
  
  .footer a {
    font-family: "Open Sans", sans-serif;
    color: #46bfa9;
  }