html {
box-sizing: border-box;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
}
  /* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  }              

  /* roboto-slab-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v24-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
}
  
body {    
   font-family: "Montserrat", sans-serif;
  }

 .conteiner {
    width: 940px;
    margin: 0 auto;
 } 
  
 .page-nav {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: flex-end;
 }

 /* ------Logo------ */
 .site-logo {
    font-family: "Satisfy", cursive;
    margin: 0;
    padding: 0;
    font-size: 26px;
    text-decoration: none;
    color: #fed546;
  }

  /* -----Nav------ */
  .site-nav {
    display: flex;
    justify-content: space-between;          
    list-style: none;    
    width: 485px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .site-nav a {
    font-family: "Montserrat Regular", sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
  }
  a:hover,
  a:focus {
    color: #fed546;
  }

  /* ------- Main ------- */
.section-services {   
    padding: 0; 
    min-height: 577px;   
}

.name-section-services, .name-section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.services, .contact {
    padding-top: 95px;
    letter-spacing: -1px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
.title-services, .title-contact {
    font-family: "Vollkorn", serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 10px;
    margin: 0;
    color: #777777;
}
  
/* ------List Services */
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;    
    padding: 0;
    
}
.services-list-item {
    flex: 0 0 290px; 
    position: relative;  
    list-style: none;     
    min-height: 232px;
    text-align: center;
    margin: 0;
}
.name-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 18px; 
    padding-top: 165px; 
    margin: 0;  
}
.item-title {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    padding-top: 10px;
    color: #777777;
    margin: 0;
    
}
.name-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 39px;
    top: 65px;
    left: 108px;
    background-repeat: no-repeat;
    border: 4px solid #fed546;
    border-radius: 50%;
    padding: 10px;
    background-origin:content-box;
}
.icon_basket::before {
    background-image: url(/img/module_7/icon/Icon-Basket.png);
}
.icon_laptop::before {
    background-image: url(/img/module_7/icon/Icon-Laptop.png);
}
.icon_locked::before {
    background-image: url(/img/module_7/icon/Icon-Locked.png);    
}

/* ------Footer----- */
.section-contact {
    min-height: 677px;
    background-color: #222;
    background-image: url(/img/module_7/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: center right;
}
.contact {
    color: #fff;    
}

/* -----Form list----- */
.footer-form-list {
    display: flex;    
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 26px;     
}

.form-list {   
    width: 940px; 
    margin: 0;
    padding: 0;
    list-style: none;
}
.form-item {   
    margin: 0 0 27px;    
    height: 54px;    
}
.form-item:last-child {
    margin-bottom: 0;
  }

  .form-item::placeholder, .form-input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #bbbbbb;
    text-transform: uppercase;
}
.form-input, .user-message{  
    width: 455px;      
    margin: 0;    
    padding: 18px 20px;
    border: 2px solid #bbbbbb;
    border-radius: 3px;       
}    
.user-message {
  height: auto;
}
.form-input:required:valid {
    outline-color: green;
}
.form-input:required:invalid {
    outline-color: red;
}
.user-message:required:valid {
    outline-color: green;
}
.user-message:required:invalid {
    outline-color: red;
}

.form-bt {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    width: 240px;
    height: 66px;
    background-color: #fed546;
    border: 2px;
    border-radius: 3px; 
    cursor: pointer; 
    
    
}




/* body {
 font-family: "Montserrat", sans-serif;
 font-size: 14px;
 line-height: 26px;
 color: #515151;
}

.conteiner {  
    width: 1200px;
    margin: 0 auto;   
}
.page-nav {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: flex-end;
}

/*------Logo------*/

/* .site-logo {
    font-size: 30px;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    font-weight: 600;
    color: #95e1d3;
}    */


/*--------Navigation-------*/
/* 
.site-navigation  { 
    display: flex;
    justify-content: space-between;          
    list-style: none;    
    width: 490px;
    text-transform: uppercase;   
    margin: 0;
    padding: 0;
} */



/* .site-navigation a {
    font-family: "Montserrat Regular", sans-serif;
    text-decoration: none;
    color: #95e1d3;
    font-size: 14px;
} */


/* .site-navigation a:hover,
.site-navigation a:focus {
    color: #f38181;
    text-decoration: underline;
} */



  /*-------Amazing Service------*/
 /* .title-amazing-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 127px;
    
   }
  .we-work-with {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;      
    padding: 0;        
  }
  .amazing-service-name{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px;
    margin: 0;
  }  

h2::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    content: '';
    padding: 0;
    margin: 40px auto;
}

.amazing-service-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;    
    padding: 0;
    width: 1200px;
    
}
.amazing-service-item {
    flex: 0 0 300px; 
    position: relative;  
    list-style: none;     
    min-height: 115px;
    margin-bottom: 55px;
    padding: 20px 20px 20px 80px;    
}

.amazing-service-list-name::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40px;
    left: 22px;
    background-repeat: no-repeat;
}
.icon_photography::before {
    background-image: url(/img/module_6/icon/ALARM.png);
    
}
.icon_desing::before {
    background-image: url(/img/module_6/icon/LINE.png);
}
.icon_creativity::before {
    background-image: url(/img/module_6/icon/COMPUTER.png);
}
.icon_seo::before {
    background-image: url(/img/module_6/icon/BOOK\ 2.png);
}
.icon_css::before {
    background-image: url(/img/module_6/icon/HOME.png);
}
.icon_digital::before {
    background-image: url(/img/module_6/icon/IMAGE.png);
} */

/* -------Section Meet Our Team */
/* .meet-our-team {
    padding-bottom: 78px;
}

.title-meet-our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 980px;
    
}

.who-we-are {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;      
    padding: 0; 
    margin: 0;       
  }
.meet-our-team-name {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 25px;
    margin: 0;
  }  

.meet-our-team-name h2::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    content: '';
    padding: 0;
    margin: 40px auto;
}
.meet-our-team-text {
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    text-align: center;
    color: #999999;
} */

/* --------Meet our team card */
/* .meet-our-team-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 90px;
}
.card-name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    padding-top: 30px;
    margin: 0;
}
.title-card-name {
    font-family: "Roboto Light", cursive;
    font-size: 15px;
    font-style: italic;
    line-height: 4px;
    text-align: center;
    color: #999999;
    padding-top: 10px;
    margin: 0;
} */

/* -----Overlay card */
/* .meet-our-team-card {
    width: 380px;
    text-align: center;
}
.card-overlay {
    position: relative;
    transition-property: transform, box-shadow ;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.card-overlay:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 #95e1d3
}

.social-icon-block {
    position: absolute;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgb(243, 129, 129, 0.9) 0%,
        rgb(252, 227, 138, 0.9) 100%
      );
    opacity: 0;
    transition: opacity .2s linear;
}
.card-overlay:hover .social-icon-block {
    opacity: 1;
}

.social-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0;
}
.icon {
    margin-right: 1px;
}

.icon a{
    display: block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    transition: background-color .2s linear;
}
.facebook {
    background-image: url(/img/module_6/icon/facebook.png);
}
.twitter {
    background-image: url(/img/module_6/icon/twitter.png);
}
.pinterest {
    background-image: url(/img/module_6/icon/pinterest.png);
}
.instagram {
    background-image: url(/img/module_6/icon/instagram.png);
}

.icon a:hover {
    background-color: #95e1d3;
} */

/* ----Footer---- */
/* .footer {
    position: relative;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

} */

/* .footer-title {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #000; */
  
  
  /* .footer a {
    color: #f38181;
  }

  .footer::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;    
  }

  .footer-block {
    display: flex;
  }

  .form-email {
    width: 229px;
    height: 40px;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    border-right: none;
    
  }

  .form-email::placeholder {
    font-family: "Roboto Light";
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #e5e5e5;
  }

 .form-btn {
    width: 152px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #95e1d3;
    color: #fff;
    border: 1px solid #e5e5e5;
    cursor: pointer;
  }  */
