html {
box-sizing: border-box;
}

body {
 font-family: "Open Sans", sans-serif;
 font-size: 14px;
 line-height: 26px;
 color: #515151;
}

.conteiner {   
  width: 1110px;
  margin: 0 auto;
  padding: 0 13px;
  margin-bottom: 109px;
  margin-top: 44px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}


/*------Logo------*/

.site-logo {
    float:left;
    margin: 0;
    text-transform: uppercase;
}   

.site-logo::first-letter {
    color:#42c5aa
}

/*--------Navigation-------*/

.site-navigation  { 
    float: right;  
    width: 490px;     
    margin: 0;
    margin-top: 10px;
    list-style: none;
    padding: 0;
    text-transform: uppercase;   
}


a {
    text-decoration: none;
    color:black
}

.site-navigation li {
    float: left;
    font-size: 14;        
    line-height: 11px;
}

.site-navigation li:not(:last-child) {
    margin-right: 35px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #42c5aa;
}

  /*------Slide------*/
  .slide {
    position:relative;
    height: 600px;
}
  .slide-title {
    position: absolute;    
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
  }
  
  .slide-name {
    font-family: "Roboto Black", sans-serif;
    font-size: 60px;
    line-height: 82px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 775px;
  }
  .slide-pos {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    line-height: 54px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  /*-------Slide Button------*/
  .btn-left,
  .btn-right {
    position: absolute;
    width: 104px;
    height: 104px;    
    border: none;
    cursor: pointer;
    background-color: #54a18f;    
    top: 50%;
    left: 50%;   
    font-size: 100px;
    color: #ffffff;
    text-align: center;    

  }

  .btn-left {
     float: left;
     transform: translate(-500%,-50%);
 }

 .btn-right {
    float: right;
    transform: translate(400%,-43%);
 }

 .btn-left:hover,
 .btn-right:hover {
    background-color: #1abc9c;
    opacity: 1;
 }

  /*-------Section New Collection------*/
   .new-collection {
    padding-top: 95px;
    padding-bottom: 105px;
    background-color: #e9f0fd;
    
   }
  .name-new-collection {
    font-family: "Roboto Black";
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;       
    padding: 0;        
  }
.name-new-collection h2 {
    text-align: center;
    margin: 0;
    
}

h2::after {
    display: block;
    width: 162px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    padding: 0;
    margin: 30px auto;
}

.new-collection-list { 
    margin: 82px auto;     
    padding: 0;
    width: 1110px;
    
}
.new-collection-list li {
    float: left;
    list-style: none; 
    width: 255px; 
    height: 322px;  
    
}
.new-collection-list li:not(:last-child) {
    margin-right: 30px;
}
 .new-collection-card {
    position: relative;
 }

.category-price-item {        
    font-family: "Roboto Black";
    font-size: 18px;    
    color: #ffffff;
    
    
}
.new-collection-img {       
    display: block;
}
.category-item {
    margin: 0 auto;

}
.category-item a {    
    float: left;    
    text-transform: uppercase; 
    color: #ffffff;
    background-color: #515151;
    width: 201px;
    text-align: left; 
    height: 40px; 
         
}
 .category-item a:hover {
    background-color: #1abc9c;
 }

.price-item {
    float:right;
    height: 40px;
    width: 54px;
    background-color: #8c8c8c;
    margin: 0 auto;
    text-align: center;
    
}
.price-item:hover {
    background-color: #7fd9c7;
}

.overlay-btn {
    position: absolute;
    width: 235px;
    height: 262px;
    background-color: #000000;
    opacity: 0;
    margin: 10px;
}

.new-collection-card:hover .overlay-btn {
    opacity: 0.549;
}

.btn {
    float: right; 
    margin-right: 8px;
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
   
}
 
.btn:hover {
    background-color: #1abc9c;
}


  


  
/*-------Footer------*/
.footer {
   background-color: #323232;;
}

.footer p {
    padding: 31px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fefefe;
  }
  
  .footer a {
    font-family: "Open Sans", sans-serif;
    color: #46bfa9;
  }